.title {
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 10%;
    font-size: 35px;
}

.subTitle {
    margin-top: 10px;
    margin-left: 12%;
    font-size: 20px;
}

.sectionTitle {
    margin-top: 5%;
    margin-left: 5%;
    font-size: 30px;
}

.destinationsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3%;
}

.destinationContainer {
    text-align: center;
}

.destinationImg {
    width: 400px;
    height: 300px;
    border: solid 3px black;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 10px;
}

.destinationImg:hover {
    transition: 0.5s;
    transform: translateY(-5px);
    opacity: 0.6;
}

.destinationTitle {
    border-bottom: solid 3px white;
    transition: 500ms;
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 5px;
}

.destinationTitle:hover {
    border-bottom: solid 3px black;
    transition: 500ms;
}