.postContainer {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1%;
    border: solid 1.8px black;
    min-height: 150px;
}

.userImgContainer {
    min-width: 150px;
    max-width: 150px;
    padding-inline: 2%;
    background-color: rgb(240, 240, 240);
    text-align: center;
}

.username {
    font-size: 18px;
}

.postBodyContainer {
    border-left: solid 1.8px black;
    padding-inline: 2%;
}

.postBody {
    font-size: 20px;
}